<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT collection ANY>
<!ATTLIST collection id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT imageItem ANY>
<!ATTLIST imageItem id ID #REQUIRED>
<!ELEMENT landingpage ANY>
<!ATTLIST landingpage id ID #REQUIRED>
<!ELEMENT textpage ANY>
<!ATTLIST textpage id ID #REQUIRED>
<!ELEMENT website ANY>
<!ATTLIST website id ID #REQUIRED>

]>
<root id="-1">
  <website id="1161" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1073" template="1159" sortOrder="0" createDate="2012-12-04T17:16:01" updateDate="2012-12-04T17:16:58" nodeName="Madison-Aria" urlName="madison-aria" writerName="admin" creatorName="admin" path="-1,1161" isDoc="">
    <metaDescription>
    </metaDescription>
    <metaKeywords>
    </metaKeywords>
    <pageName>
    </pageName>
    <bodyText><![CDATA[]]></bodyText>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>
    </title>
    <siteName>
    </siteName>
    <homepage id="1162" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1082" template="1160" sortOrder="0" createDate="2012-12-04T17:18:02" updateDate="2012-12-04T23:14:50" nodeName="home" urlName="home" writerName="admin" creatorName="admin" path="-1,1161,1162" isDoc="">
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title />
      <siteName />
    </homepage>
    <landingpage id="1166" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1155" template="1163" sortOrder="1" createDate="2012-12-04T20:35:41" updateDate="2012-12-05T17:15:14" nodeName="about" urlName="about" writerName="admin" creatorName="admin" path="-1,1161,1166" isDoc="">
      <image>1175</image>
      <imageCaption />
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[<p><span>M</span>adison Aria is a small company that helps its clients get impressive results from their websites.</p>
<p>Our experience spans many clients and industries including corporate icons such as Sony Music and Fidelity Investments as well as medium and small business such as Americas Test Kitchen and The Newbury Center.</p>
<p>The company was set up by owner Rocco Lombardo in 2011 after working as Chief Technology Officer for Amerias Test Kitchen since 2008.</p>
<p>Rocco has been a professional systems architect, developer and strategist for over 15 years and has designed websites and systems for a range of clients including Sony Worldwide, Christies Auction House, Americas Test Kitchen, Hewlett Packard and Dunkin Donuts.</p>]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title />
      <siteName />
    </landingpage>
    <landingpage id="1165" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1155" template="1164" sortOrder="2" createDate="2012-12-04T20:07:18" updateDate="2012-12-05T16:59:48" nodeName="projects" urlName="projects" writerName="admin" creatorName="admin" path="-1,1161,1165" isDoc="">
      <image />
      <imageCaption />
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[]]></title>
      <siteName />
      <article id="1172" parentID="1165" level="3" writerID="0" creatorID="0" nodeType="1078" template="0" sortOrder="0" createDate="2012-12-04T23:46:00" updateDate="2012-12-05T17:12:47" nodeName="web development" urlName="web-development" writerName="admin" creatorName="admin" path="-1,1161,1165,1172" isDoc="">
        <teaserText><![CDATA[]]></teaserText>
        <image>1177</image>
        <imageCaption />
        <metaDescription />
        <metaKeywords />
        <pageName />
        <bodyText><![CDATA[<p>Madison Aria is a full service firm capable of project management, development, design and digital strategy. Our developers are well versed in the latest web and mobile technology. We can build a new application or integrate with your existing team.</p>]]></bodyText>
        <umbracoNaviHide>1</umbracoNaviHide>
        <title>Web &lt;span&gt;Development&lt;/span&gt;</title>
        <siteName />
      </article>
      <article id="1171" parentID="1165" level="3" writerID="0" creatorID="0" nodeType="1078" template="0" sortOrder="1" createDate="2012-12-04T23:41:05" updateDate="2012-12-05T17:11:17" nodeName="web design" urlName="web-design" writerName="admin" creatorName="admin" path="-1,1161,1165,1171" isDoc="">
        <teaserText><![CDATA[]]></teaserText>
        <image>1178</image>
        <imageCaption />
        <metaDescription />
        <metaKeywords />
        <pageName />
        <bodyText><![CDATA[<p>Great design starts with great designers. We have the best designers producing the best designs around. If you're looking for the best, you've found your firm.</p>]]></bodyText>
        <umbracoNaviHide>1</umbracoNaviHide>
        <title>Web &lt;span&gt;Design&lt;/span&gt;</title>
        <siteName />
      </article>
      <article id="1173" parentID="1165" level="3" writerID="0" creatorID="0" nodeType="1078" template="0" sortOrder="2" createDate="2012-12-04T23:58:12" updateDate="2012-12-05T17:13:22" nodeName="digital strategy" urlName="digital-strategy" writerName="admin" creatorName="admin" path="-1,1161,1165,1173" isDoc="">
        <teaserText><![CDATA[]]></teaserText>
        <image>1174</image>
        <imageCaption />
        <metaDescription />
        <metaKeywords />
        <pageName />
        <bodyText><![CDATA[<p>Looking for a leg up on your competition? Why not work with a company that has over 15 years of digital strategy and technology consulting experience?</p>]]></bodyText>
        <umbracoNaviHide>1</umbracoNaviHide>
        <title>Digital &lt;span&gt;Strategy&lt;/span&gt;</title>
        <siteName />
      </article>
    </landingpage>
    <landingpage id="1168" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1155" template="1167" sortOrder="3" createDate="2012-12-04T22:19:53" updateDate="2012-12-04T22:20:00" nodeName="contact" urlName="contact" writerName="admin" creatorName="admin" path="-1,1161,1168" isDoc="">
      <image />
      <imageCaption />
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title />
      <siteName />
    </landingpage>
    <landingpage id="1170" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1155" template="1169" sortOrder="4" createDate="2012-12-04T23:13:47" updateDate="2012-12-05T17:20:49" nodeName="development" urlName="development" writerName="admin" creatorName="admin" path="-1,1161,1170" isDoc="">
      <image>1177</image>
      <imageCaption />
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[<p>Madison Aria is a full service firm capable of project management, development, design and digital strategy. Our developers are well versed in the latest web and mobile technology. We can build a new application or integrate with your existing team.</p>]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>Web &lt;span&gt;Development&lt;/span&gt;</title>
      <siteName />
    </landingpage>
    <landingpage id="1182" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1155" template="1181" sortOrder="5" createDate="2012-12-05T17:22:11" updateDate="2012-12-05T19:58:47" nodeName="design" urlName="design" writerName="admin" creatorName="admin" path="-1,1161,1182" isDoc="">
      <image>1178</image>
      <imageCaption />
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[<p>Great design starts with great designers. We have the best designers producing the best designs around. If you're looking for the best, you've found your firm.</p>]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>Web &lt;span&gt;Design&lt;/span&gt;</title>
      <siteName />
    </landingpage>
    <landingpage id="1185" parentID="1161" level="2" writerID="0" creatorID="0" nodeType="1155" template="1183" sortOrder="6" createDate="2012-12-05T17:32:26" updateDate="2012-12-05T19:59:10" nodeName="strategy" urlName="strategy" writerName="admin" creatorName="admin" path="-1,1161,1185" isDoc="">
      <image>1174</image>
      <imageCaption />
      <metaDescription />
      <metaKeywords />
      <pageName />
      <bodyText><![CDATA[<p>Looking for a leg up on your competition? Why not work with a company that has over 15 years of digital strategy and technology consulting experience?</p>]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>Digital &lt;span&gt;Strategy&lt;/span&gt;</title>
      <siteName />
    </landingpage>
  </website>
</root>