<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT collection ANY>
<!ATTLIST collection id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT imageItem ANY>
<!ATTLIST imageItem id ID #REQUIRED>
<!ELEMENT textpage ANY>
<!ATTLIST textpage id ID #REQUIRED>
<!ELEMENT website ANY>
<!ATTLIST website id ID #REQUIRED>

]>
<root id="-1">
  <website id="1092" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1073" template="1054" sortOrder="0" createDate="2012-11-01T16:23:11" updateDate="2012-11-01T16:24:59" nodeName="Madison-Aria" urlName="madison-aria" writerName="admin" creatorName="admin" path="-1,1092" isDoc="">
    <metaDescription>Madison Aria is a web design and professional services company</metaDescription>
    <metaKeywords>Web, Design, .Net, ASP.Net, C#</metaKeywords>
    <siteName>Madison-Aria-Design-</siteName>
    <pageName>
    </pageName>
    <bodyText><![CDATA[]]></bodyText>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>
    </title>
    <homepage id="1093" parentID="1092" level="2" writerID="0" creatorID="0" nodeType="1082" template="1056" sortOrder="0" createDate="2012-11-01T16:25:16" updateDate="2012-11-01T16:25:29" nodeName="home" urlName="home" writerName="admin" creatorName="admin" path="-1,1092,1093" isDoc="">
      <metaDescription>
      </metaDescription>
      <metaKeywords>
      </metaKeywords>
      <siteName>
      </siteName>
      <pageName>
      </pageName>
      <bodyText><![CDATA[]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>
      </title>
      <collection id="1094" parentID="1093" level="3" writerID="0" creatorID="0" nodeType="1090" template="0" sortOrder="0" createDate="2012-11-01T16:26:13" updateDate="2012-11-01T18:43:06" nodeName="Gallery" urlName="gallery" writerName="admin" creatorName="admin" path="-1,1092,1093,1094" isDoc="">
        <umbracoNaviHide>1</umbracoNaviHide>
        <imageItem id="1095" parentID="1094" level="4" writerID="0" creatorID="0" nodeType="1091" template="0" sortOrder="0" createDate="2012-11-01T16:27:08" updateDate="2012-11-01T16:27:25" nodeName="Desert" urlName="desert" writerName="admin" creatorName="admin" path="-1,1092,1093,1094,1095" isDoc="">
          <image>1059</image>
          <imageCaption><![CDATA[Afternoon in the desert]]></imageCaption>
          <linkTo><![CDATA[]]></linkTo>
        </imageItem>
      </collection>
      <collection id="1096" parentID="1093" level="3" writerID="0" creatorID="0" nodeType="1090" template="0" sortOrder="1" createDate="2012-11-01T16:29:13" updateDate="2012-11-01T16:29:20" nodeName="Articles" urlName="articles" writerName="admin" creatorName="admin" path="-1,1092,1093,1096" isDoc="">
        <umbracoNaviHide>1</umbracoNaviHide>
        <feature id="1097" parentID="1096" level="4" writerID="0" creatorID="0" nodeType="1076" template="0" sortOrder="0" createDate="2012-11-01T16:30:51" updateDate="2012-11-01T16:36:28" nodeName="Services" urlName="services" writerName="admin" creatorName="admin" path="-1,1092,1093,1096,1097" isDoc="">
          <image>
          </image>
          <imageCaption><![CDATA[]]></imageCaption>
          <relatedArticle>
          </relatedArticle>
          <useArticleImage>0</useArticleImage>
          <metaDescription>
          </metaDescription>
          <metaKeywords>
          </metaKeywords>
          <siteName>
          </siteName>
          <pageName>
          </pageName>
          <bodyText><![CDATA[<p>Madison-Aria is a full server professional technology consulting and digital strategy firm. With over 25 years of experience in designing and developing marketing and ecommerce web solutions, we are the right choice to lead and deliver your project. See more...</p>]]></bodyText>
          <umbracoNaviHide>0</umbracoNaviHide>
          <title>Services</title>
        </feature>
        <feature id="1099" parentID="1096" level="4" writerID="0" creatorID="0" nodeType="1076" template="0" sortOrder="1" createDate="2012-11-01T16:33:55" updateDate="2012-11-01T16:36:21" nodeName="In The News" urlName="in-the-news" writerName="admin" creatorName="admin" path="-1,1092,1093,1096,1099" isDoc="">
          <image>
          </image>
          <imageCaption><![CDATA[]]></imageCaption>
          <relatedArticle>
          </relatedArticle>
          <useArticleImage>0</useArticleImage>
          <metaDescription>
          </metaDescription>
          <metaKeywords>
          </metaKeywords>
          <siteName>
          </siteName>
          <pageName>
          </pageName>
          <bodyText><![CDATA[<p>Whether its a small tweak to a BIG idea or a 6 month project to kick-off the future, Madision-Aria is busy, busy, busy. Check out what's happening now!</p>]]></bodyText>
          <umbracoNaviHide>0</umbracoNaviHide>
          <title>In The News</title>
        </feature>
        <feature id="1100" parentID="1096" level="4" writerID="0" creatorID="0" nodeType="1076" template="0" sortOrder="2" createDate="2012-11-01T16:35:18" updateDate="2012-11-01T16:36:15" nodeName="Partners" urlName="partners" writerName="admin" creatorName="admin" path="-1,1092,1093,1096,1100" isDoc="">
          <image>
          </image>
          <imageCaption><![CDATA[]]></imageCaption>
          <relatedArticle>
          </relatedArticle>
          <useArticleImage>0</useArticleImage>
          <metaDescription>
          </metaDescription>
          <metaKeywords>
          </metaKeywords>
          <siteName>
          </siteName>
          <pageName>
          </pageName>
          <bodyText><![CDATA[<p>Partner channels are vital to our business and we cherish the relationships we've established. We are stronger as a result and able to meet the ever changing needs of the business.</p>]]></bodyText>
          <umbracoNaviHide>0</umbracoNaviHide>
          <title>Partners</title>
        </feature>
      </collection>
    </homepage>
  </website>
</root>