<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT collection ANY>
<!ATTLIST collection id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT textpage ANY>
<!ATTLIST textpage id ID #REQUIRED>
<!ELEMENT website ANY>
<!ATTLIST website id ID #REQUIRED>

]>
<root id="-1">
  <website id="1092" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1073" template="1054" sortOrder="0" createDate="2012-11-01T16:23:11" updateDate="2012-11-01T16:24:59" nodeName="Madison-Aria" urlName="madison-aria" writerName="admin" creatorName="admin" path="-1,1092" isDoc="">
    <metaDescription>Madison Aria is a web design and professional services company</metaDescription>
    <metaKeywords>Web, Design, .Net, ASP.Net, C#</metaKeywords>
    <siteName>Madison-Aria-Design-</siteName>
    <pageName />
    <bodyText><![CDATA[]]></bodyText>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title />
    <homepage id="1093" parentID="1092" level="2" writerID="0" creatorID="0" nodeType="1082" template="1056" sortOrder="0" createDate="2012-11-01T16:25:16" updateDate="2012-11-01T16:25:29" nodeName="home" urlName="home" writerName="admin" creatorName="admin" path="-1,1092,1093" isDoc="">
      <metaDescription />
      <metaKeywords />
      <siteName />
      <pageName />
      <bodyText><![CDATA[]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title />
    </homepage>
  </website>
</root>