@import url("font-face.css") screen, print;

body 
{
    background-image:url("/images/madison/shape-vortex-16248-1920x1200-no-logo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Open Sans',sans-serif;
    overflow: hidden;
}

#header
{
    margin-top:20px;
}
.nav ul
{
    margin-right:15px;
}
.nav li
{
    float:left;
    margin-right:15px;
}

.nav li a
{
    color:#4D4D4F;
    font-size:18px;
}

.nav li a:hover
{
    text-decoration:none;
    color: orange;
    background-color:inherit;

}


#innovative a
{
    color: #4D4D4F;
    text-decoration:none;
}

#innovative a:link {text-decoration:none;}

#innovative a:hover 
{
    color: orange; /*#0088CC;*/    
}
   
#innovative h1 
{    
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(13%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
   
    box-shadow: 5px 5px 5px #888;
    color: #4D4D4F;
    font-family: AftaserifRegular,sans-serif;
    font-weight: 900;
    font-size: 28px;
    left: 0;
    margin:0;
    padding: 15px 0;
    position: fixed;
    top: 135px;
    width: 100%;
}

#innovative h1 div 
{    
    display: block;
    margin-left:7.5%;
    width: 830px;
    line-height:normal;
}

#innovative h1 div consulting
{
    color:Orange;
    font-style:italic;
}

#innovative h1 div span
{
    display:block;    
    font-size:14px;
    color: #4D4D4F;
}

#content
{
 width: 100%;
 margin-left:auto;
 margin-right:auto;
 overflow:hidden;
 position: fixed;
 top: 28%;
 left:100%;
 float:left;
 padding: 15px;
 text-align:center;
 box-shadow: 5px 5px 5px #888;
 border-radius: 10px;
 background: none repeat scroll 0 0 rgba(255, 255, 255, 0.55);
}


/* about page */
#content div.about
{    
    margin-top:5px;
    padding:0px;
	text-align:left;
	overflow:auto;
	font-family: AftaserifRegular,sans-serif;
	overflow:hidden;
	display:block;
}

#content div.about p
{
    margin:0px;
    margin-left:5px;
    font-size:14px;
    margin-bottom:2.5px;
}

#content div.about div
{
    float: left;
    width: 400px;
}
#content div.about img
{
    float:left;
    border:5px solid white;
    border-radius:10px;
    margin-right:5px;
    width: 465px;
}

#content div.about span { float: left; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; color:orange; }
                       



/* projects page */
#content div.project
{    
    height:375px;
	font-family: AftaserifRegular,sans-serif;
	font-size:15px;
	float:left;
	display:inline-block;
	margin-right:10px;
}

#content div.project h3
{
    margin:2.5px;
}

#content div.project h3 span
{
    color: Orange;
}

#content div.project img
{
    border:5px solid white;
    border-radius:10px;
    width:285px;
    height:180px;
}

#content div.project p
{
    padding:5px;
    display:block;
    position:relative;
    text-align:left;
    width:285px;
    overflow:hidden;
    font-size:14px;
}

/* contact */

#content div.contact iframe
{
    float:left;
    border:5px solid white;
    border-radius:10px;
    height:308px;
    width:504px;
    margin-right:5px;
}

#content div.contact div
{
    font-family: AftaserifRegular,sans-serif;
    font-size: 15px;
    overflow: auto;
    padding: 5px;
    text-align: left;
    width: 365px;
}


#content .contact div dt {
    color: #2F2F2F;
    font-weight: bold;
    margin-bottom: 21px;
    width: 150px;
}

#content .contact div dd {
    line-height: 21px;
    margin-left: 0;
}

#content .contact div span {
    width: 79px;    
}

/* development */
#content div.development
{    
    display:block;
	font-family: AftaserifRegular,sans-serif;
	font-size:15px;
	margin-right:10px;
}

#content div.development img
{
    border:5px solid white;
    border-radius:10px;
    float:left;
    margin-right:15px;
    height:300px;
    width:400px;
}

#content div.development div
{
    float:left;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    width: 465px;
}
#content div.development div h3
{
    margin:2.5px;
}

#content div.development div h3 span
{
    color: Orange;
}

